.header {
    margin-top: 65px;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(99, 109, 109);
}

.city-state-zip input {
    max-width: 600px;
}

.city-state-zip .input-group {
    margin-right: 10px;
}

.city-state-zip .labels {
    max-width: 200px;
}

.states {
    margin: 0px 5px;
}

.progress-container {
    width: 100%;
    padding: 1em;
}

.progress {
    counter-reset: step;
    height: 7px;
    background-color: white;
    margin: auto;
    width: 39em;
    padding: 0px;
}

.progress li {
    margin-left: 1px;
    border: 0.5px whitesmoke solid;
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    z-index: 4;
}

.progress li:before {
    content: ' ';
    counter-increment: step;
    width: 20px;
    height: 20px;
    line-height: 30px;
    display:block;
    margin: 0 auto 10px auto;
    text-align: center;
    z-index: 3;
}

.progress li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    color: black;
    border: 0.5px solid #ddd;
    top: 13px;
    left: -50%;
    z-index: 2;
}

.progress li:first-child:after {
    content:none;
}

.progress li.active {
    margin-left: 1px;
    background-color:#00674b
    ;
}

.progress li.active + li.after {
    background-color:#00674b
    ;
}

.notice {
    position: relative;
    font-size: smaller;
    text-align: center;
    margin-top: 1em;
}

.inner-container {
    margin-top: 50px;
}

.box {
    width : 32em;
    background-color: white;
    height: auto;
    min-height: 395px;
    padding-bottom: 25px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    box-shadow:  2px 2px 3px 2px rgb(238, 237, 237);
    margin: auto;
    width: 32em;
}

.input-group {
    padding: 0px 2em;
    margin-right: 2em;
 } 

.next {
    position: relative;
    margin-top: 1em;
    text-align: right;
}
.labels {
    min-width: 400px;
    text-align: left;
    font-weight: bold;
    color: rgb(99, 109, 109);
    margin-top: 1em;
    padding-left: 2em;
  
    width: 35%;
    float: left;
    position: relative;
}

.meals {
    margin: 0px 30px;
    width: 88%;
}

.multi-select {
    padding: 0px 30px;
}

.guests {
    width: 20%;
    float: center;
}

.description-input {
    width: 96%;
    height: 8em;
    float: left;
}

.allergy-input {
    width: 96%;
}

.additional-input {
    width: 96%;
}

.buttons  {
    margin: 10px 5px;
    width: 120px;
    margin-bottom: 40px;
}

/* SWITCH TOGGLE, DONT TOUCH FROM THIS POINT */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }